.header_block {
  position: fixed;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgb(60, 60, 61);

  width: 100%;
}

.load-more {
  display: none;
}
.search-form {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  &_input {
    border: 1px solid transparent;
    height: 30px;
    width: 250px;
    padding: 15px;
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ffffff;
    font-style: oblique;
    color: #000000;
    outline: none;
  }
}

.search-form_button {
  width: 30px;
  height: 32px;
  position: absolute;
  border: 1px solid transparent;
  bottom: 0;
  right: 0;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translate(100%, 0);
  background-color: #cacaca;
  cursor: pointer;
}
