<header>
  <div class="header_block">
    <form class="search-form" id="search-form">
      <input
        class="search-form_input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" name="searchButton" class="search-form_button">
        <svg class="button__icon" width="15" height="15">
          <use class="icon-search" href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
